language: php

sudo: required
dist: trusty
group: edge

php:
  - 7.0
  - 7.0snapshot
  - 7.1
  - 7.1snapshot
  - nightly
  
matrix:
  allow_failures:
    - php: nightly

before_install:
  - composer self-update
  - composer clear-cache
  - wget https://phar.phpunit.de/phpunit.phar

install: composer install

script: php phpunit.phar tests

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/f0abd75c9ea61d414afa
    on_success: always
    on_failure: always
    on_start: false
