language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

install: composer install

script: phpunit --configuration phpunit.xml.dist --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
