<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ FluentDOM
  ~
  ~ @link https://thomas.weinert.info/FluentDOM/
  ~ @copyright Copyright 2009-2021 FluentDOM Contributors
  ~ @license http://www.opensource.org/licenses/mit-license.php The MIT License
  ~
  -->

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         extensionsDirectory="C:/Projects/FluentDOM/FluentDOM/tools/phpunit.d">
  <testsuites>
    <testsuite name="FluentDOM">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>
